.product-item{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .product-container{
      margin-top: 100px;
      display: flex;
      img{
        width: 30vw;
        margin: 1rem;
    }
    .detailes{
      padding: 1rem;
      h1{
        font-size: 22px;
        font-weight: 500;
      }
      p{
        font-size: 14px;
        pad: 1rem;
        width: 50vw;
      }
    }
    
    }
    

}


.product-item::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.product-item {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
