.product-item{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 120px;
    img{
        width: 200px;
    }

}


.product-item::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.product-item {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
